/* General styles & mobile view */

body,
.dropdown-menu,
.dropdown-item,
#app .navbar-dark {
    background: #1c2333 !important;
    color: #d6c2f9;
}

#app p,
#app label,
#app .btn,
#app .nav-link,
#app .dropdown-item {
    font-family: 'Tienne', serif;
    font-size: 1.1rem;
}

#app .navbar-brand,
#app .display-1 {
    font-family: 'Comfortaa', cursive;
    color: #e234ab;
}

#app .dropdown-item:hover {
    color: #e234ab;
}

.image-upload>label {
    cursor: pointer;
}

.image-upload>input {
    display: none;
}

.saveWrapper {
    cursor: pointer;
}

.fixed-bottom {
    background: rgba(28, 35, 51, 0.8)
}


/* Hide Mobile Nav, Setup Desktop Grid, Show Desktop Nav  */

@media (min-width: 768px) {}